nav {
  background-color: #f0f0f0;
  width: 100%;
  padding: 1rem; /* Adjusted padding */
  overflow: hidden; /* Ensures the nav content fits */
  width: 100%; /* Ensures the nav spans the full width */
}
.nav-items {
  width: 100%; /* Ensures the nav items span the full width */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px; /* Adjusted gap */
  flex-wrap: wrap; /* Allows items to wrap in smaller screens */
}

.nav-items li a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem; /* Added padding for better touch targets */
}
.nav-items li a {
  text-decoration: none; 
  color: #000; 
}
.search-section{
  display: flex;
  justify-content: center;

}
.filter-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap */
 /* Space between items */

}
.books, .villains {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  list-style: none;
  padding: 0;
  margin-top: 6rem;
}
.book-details-img {
  position: absolute;
  top:6rem;
  left: 0;
  width: 25%;
}
.book-list{
  margin: 8px;
  padding: 8px;
  border: 1px solid #efeff0;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  margin-bottom: 10px;
}
.book{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.book-img {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 200px;
  object-fit: contain;
}
.book-title {
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown {
  position: absolute;
  top: 0%;
  left: 35%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  display: none; /* Added to ensure dropdown is hidden by default */
}
.dropdown li {
  padding: 8px 12px;
}
.dropdown li:hover {
  background-color: #f2f2f2;
}
.nav-items li:hover .dropdown {
  display: block; 
}
@media (min-width: 600px){
  .book-list {
    width: calc(28% - 16px);
  }
}
.book-details-container {
  display: flex;
  flex-direction: column;
  align-items: start; /* Align items to the start of the container */
  gap: 10px; /* Adds space between each item */
  padding: 20px; /* Adds some padding around the content */
}
.book-text-details {
  /* Specific styles for the text details */
}
.title-container {
  flex: 2;
  padding-top: 5rem;
}
.title-container h1 {
 margin-top: 5rem;
}
.title-container p {
  flex: 1;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: start; 
  align-items: start; 
  gap: 20px; 
}
.villains-list-container {
  flex: 1; 
}
.book-image-favorite-container {
  background-color: #fff;
  cursor: pointer;
  height: 40px; 
  padding: 8px;
  position: absolute; 
  top: 1vh; 
  right: 10px; 
  width: 25px; 
}
.icon-favourite {
  position: absolute;
  right: 8px; 
  top: 8px; 
  width: 24px; 
  height: 24px; 
}
.pagination {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}
.pagination button {
  font-size: 1.2rem; 
  padding: 10px 15px; 
  margin: 0 5px; 
  cursor: pointer; 
  background-color: #f0f0f0; 
  border: 1px solid #d1d1d1; 
  border-radius: 5px; 
}
.pagination button:hover {
  background-color: #e0e0e0; 
}
.villain-list {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}
.villain {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  margin: 20px; 
  padding: 10px; 
  background-color: #f0f0f0; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.villain-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 20px; 
}
.villain-image-container {
  width: 100px; 
  height: 150px; 
  overflow: hidden; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.villain-img {
  max-width: 100%; 
  max-height: 100%;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.villain-title {
  list-style-type: none; 
  padding-left: 10px; 
}
@media (max-width: 768px) {
  .search-section {
    justify-content: flex-end; /* Keeps content aligned to the right */
    padding-right: 10px; /* Adjusts padding for even smaller screens */
  }
  .filter-section {
    justify-content: flex-end; /* Keeps content aligned to the right */
    padding-left: 210px; /* Adjusts padding for even smaller screens */
  }

  .book-details-container {
    flex-direction: column;
  }
  .book-details-image {
    text-align: center;
  }
  .book-details-image img {
    max-width: 90%;
    margin: 20px;
  }
  .title-container {
    padding-top: 0rem;
  }
  .title-container h1 {
   margin-top: 0rem;
  }
  .title-container p {
    padding-top: 0rem;
  }

  .nav-items {
    justify-content: space-around; /* Adjusts spacing for smaller screens */
  }

  .nav-items li {
    margin-right: 0; /* Removes margin to fit on smaller screens */
  }

  .nav-items li a {
    padding: 0.5rem; /* Ensures adequate padding for touch targets */
  }
  .pagination button {
    font-size: 1rem; /* Smaller font size */
    padding: 8px 12px; /* Smaller padding */
  }
}

@media (max-width: 480px) {
  .pagination {
    flex-wrap: wrap; /* Allow pagination items to wrap */
    margin-top: 10px; /* Smaller top margin */
  }
  .pagination button {
    font-size: 0.8rem; /* Even smaller font size */
    padding: 5px 10px; /* Even smaller padding */
    margin: 2px; /* Smaller margin */
  }

  .search-section, .filter-section {
    justify-content: flex-end; /* Aligns content to the right */
    padding-right: 15px; /* Adds some padding to ensure content is not sticking to the edge */
  }
}